body {
    margin: auto;
    background: lightblue;
    font-size: 20px;
    font-family: "Times New Roman";
}

.max-content-size {
    padding-top: 130px;
    max-width: 750px;
    margin: auto;
    color: #000000;
}

#top-heading {
    background-color: #eeeeee;
    color: rgba(18,18,18,0.75);
    position:fixed;
    top:0;
    width:100%;
    z-index:10;
}

.centered-block {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}